certifi==2020.11.8
chardet==3.0.4
docopt==0.6.2
idna==2.10
prompt-toolkit==3.0.8
pyflakes==2.2.0
Pygments==2.7.4
pyvim==3.0.2
pyvmomi==7.0.1
requests==2.25.0
six==1.15.0
urllib3==1.26.5
wcwidth==0.2.5